/* global */

:root {
    --global-backgroud-color: #F2EEDA;
    --dark-text-color: #594C4F;
    --media-text-color: #551501;
    --light-text-color: rgb(124, 119, 120);
}

.row-wrapper:nth-child(odd) {
    background: var(--global-backgroud-color);
    color: var(--light-text-color);
}

.row-wrapper:nth-child(even) {
    color: var(--dark-text-color);
}

.row-wrapper .grid-container {
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 1044px;
    margin: 0px auto;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-column-gap: 20px;
    grid-template-areas: 
    'a b c';
    justify-items: center;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
    font-size: 3em;
    line-height: 1.2;
    margin: 0 0 0.25em;
    text-transform: uppercase;
    color: var(--big-text-color);
}

h2,
h3,
h4,
h5,
h6 {
    font-size: 2em;
}

.meta {
    color: var(--media-text-color);
    text-transform: uppercase;
    opacity: 0.5;
}


/* header */
header {
    max-width: 1044px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 480px) {
    header {
        flex-wrap: wrap;
    }
}

header nav {
    grid-area: c;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

header nav a {
    font-size: 18px;
    color: #00a1d6;
    text-transform: uppercase;
    margin-right: 40px;
}

img {
    width: 120px;
}

/* concise--top */
article.concise--top {
    grid-area: b;
    width: calc(100% - 100px);
}

@media (man-width: 480px) {
    article.concise--top {
        width: calc(100% - 10px);
    }
}

.concise-image {
    margin-bottom: 18px;
    height: 300px;
    width: 100%;
    background-size: 100% 300px;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-image: url("../img/wolf.png");
}

.concise--top .meta {
    font-size: 1em;
}

/* recent-posts */
#recent-posts {
    grid-area: b;
    width: calc(100% - 100px);
}

@media (man-width: 480px) {
    #recent-posts {
        width: calc(100% - 10px);
    }
}


/* subscribe */
#subscribe {
    grid-area: b;
    width: calc(100% - 100px);
}