.row-wrapper .grid-container {
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 1044px;
    margin: 0px auto;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-column-gap: 20px;
    grid-template-areas:
        'a b c';
    justify-items: center;
}

/* concise--top */
article.concise--top {
    grid-area: b;
    width: calc(100% - 100px);
}

@media (max-width: 800px) {
    article.concise--top {
        width: calc(100% - 10px);
    }
}

.concise-image {
    margin-bottom: 18px;
    height: 300px;
    width: 100%;
    background-size: 100% 300px;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-image: url("../img/wolf.png");
}

.concise--top .meta {
    font-size: 1em;
}

/* recent-posts */
#recent-posts {
    grid-area: b;
    width: calc(100% - 100px);
}

.concise--recent h2 {
    font-weight: 300;
}



@media (max-width: 800px) {
    #recent-posts {
        width: calc(100% - 10px);
    }
}

@media (min-width: 900px) {
    .concise--recent {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        align-items: center;
    }

    article.concise--recent>div {
        justify-self: end;
        grid-area: 1 / 2 / 2 / 3;
    }

    .concise--recent>h2 {
        grid-area: 1 / 1 / 2 / 2;
        justify-self: start;
    }

    article.concise--recent>p.concise-content {
        grid-area: 2 / 1 / 3 / 3;
    }

    article.concise--recent>p.continue-reading {
        grid-area: 3 / 1 / 4 / 3;
    }
}

/* subscribe */
#subscribe {
    grid-area: b;
    width: calc(100% - 100px);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

@media (max-width: 800px) {
    #subscribe {
        width: calc(100% - 10px);
    }
}

/* footer */
footer {
    grid-area: b;
}

