.row-wrapper .grid-container {
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 1044px;
    margin: 0px auto;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-column-gap: 20px;
    grid-template-areas:
        "a b c";
    justify-items: center;
}

